# Mercurial
.hg
.hgignore
*/target/*
*/bin/*
target

# Gradle
.gradle

# Eclipse project files
.classpath
.project


# IntelliJ
.idea/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
